@font-face {
  font-family: 'Powerpuff';
  src: url('../fonts/Cutie Patootie.ttf');
  font-weight: normal;
  font-style: normal;
}

[ng-cloak] { display: none; }

html, body {
	font-family: 'Powerpuff';
	height: 100%;
}

body {
	/*background: url('../img/web/bg-home001.jpg') center bottom repeat-y;*/
	background-size: 100% auto;
	background-attachment: fixed;
	background-color: #ffc0c0;
}

a {
    color: #ef3c85;
    text-decoration: none;
    text-shadow: 5px 4px 13px;
}

.form-control {
	font-size: 1em;
}

.modal-content {
	background-color: #a26a00;
}

.modal-header {
  background-color: #ffb551;
  border-radius: 6px 6px 0 0;
	border-bottom: none;
}

.modal-body {
  color: white;
  font-size: 1.4em;
}

.modal-footer {
  border-top: none;
}

.transparent {
    opacity: 0.4;
}

.fill {
	height: 100%;
}

.cover {
	width: 100%;
}

.action-bar {
	height: 65px;
	box-shadow: 0px 7px 13px 0px #00000063;
	background-color: #faaecdbd;
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	z-index: 1000;
}

.film-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 50px;
	margin-top: 90px;
}

.film-list .film-scenes {
    padding: 0px;
    border-width: 10px 0px 10px 10px;
    border-color: #faaecd;
    border-style: solid;
    height:120px;
		background: url('../img/web/scene001.jpg') repeat-x;
		background-size: auto 100%;
}

.film-list .film-scenes img {
  height:100px;
}

a.action {
	font-size: 2em;
	color:#FFF;
	margin-left: 10px;
	cursor: pointer;
	text-shadow: none;
}

a.mini-action {
	margin-left: 15px;
}

.progress {
	height:30px;
	padding: 0;
	margin: 0;
}

.progress-bar-danger {
	background-color: #f9b369;
}

.form-inline .form-group {
  display: block;
	float:left;
	margin-right: 10px;
}

.element-container {
	transform: scale3d(1.0,1.0,1.0);
	width:auto;
	position: relative;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left;
	background-color: #000;
	overflow: hidden;
}

.element {
	width:100px;
	top:50%;
	display:block;
	position:absolute;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	z-index: 100000;
	touch-action: manipulation;
}

.item {
	height:60px;
}

.item.disabled {
	filter:grayscale();
}

.progress-big {
	margin-bottom: 0;
	height:34px;
}

.kinetic-slider-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.kinetic-slider-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 400px;
}

.trash-container {
	width:50px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:#da56568c;
	border-radius: 0px 100px 100px 0px;
	opacity: 0.01;
}

.trash-container.overlap {
	opacity: 1;
}

a.trash-can {
	color: #d67070;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
}

a.trash-can.overlap {
	color: #FFF;
}
