[ng-cloak] { display: none; }

html, body {height: 100%}

.fill {
	height: 100%;
	overflow: hidden;
}

.element-container {
	width:auto;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-color: #000;
}

.element {
	width:200px;
	height:200px;
	display:block;
	position:absolute;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
