<div class="row container">
	<div class="col-lg-12">
		<h2><a href="#" ui-sref="film({id:'new'})">New Film...</a></h2>
	</div>
</div>

<ul class="film-list">
	<li ng-repeat="film in films">
		<h3>
			<a href="#" ui-sref="film({id:film._id})">{{film.name}}<a>
			<a href="#" ui-sref="player({id:film._id})"><i class="fa fa-play"></i></a>
		</h3>
		<div class="film-scenes" ppg-carousel="film.scenes">
			<img ng-repeat="scene in film.scenes"
				ui-sref="film({id:film._id})"
				ng-src="{{scene.screenshot||'img/web/scene001.jpg'}}"/>
		</div>
	</li>
</ul>
