<div class="row" style="height:50px">
	<div class="col-lg-12" style="position:fixed;width:100%;z-index:1000;">
		<h2 class="pull-left" style="margin-left:20px"><a href="#" ui-sref="film({id:'new'})" tooltip="New Film"><i class="fa fa-plus-circle"></i></a></h2>
		<h2 class="pull-right" style="margin-right:20px"><a href="#" ui-sref="settings()" tootltip="Settings"><i class="fa fa-cog"></i></a></h2>
	</div>
</div>

<ul class="film-list">
	<li ng-repeat="film in films">
		<h3>
			<a href="#" ui-sref="film({id:film._id})">{{film.name}}<a>
			<a href="#" ui-sref="player({id:film._id})"><i class="fa fa-play"></i></a>
		</h3>
		<div class="film-scenes" ppg-carousel="film.scenes">
			<img ng-repeat="scene in film.scenes"
				ui-sref="film({id:film._id})"
				ng-src="{{scene.screenshot||'img/web/scene001.jpg'}}"/>
		</div>
	</li>
</ul>
