<div class="row action-bar">
	<div class="col-lg-12">
		<h4 class="pull-left"><a href="#" class="action" ui-sref="film({id:'new'})" tooltip="New Film"><i class="fa fa-plus-circle"></i></a></h4>
		<h4 class="pull-right" style="margin-right:12px"><a href="#" class="action" ui-sref="settings()" tootltip="Settings"><i class="fa fa-cog"></i></a></h4>
	</div>
</div>

<ul class="film-list">
	<li ng-repeat="film in films">
		<h3>
			<a href="#" ui-sref="film({id:film._id})">{{film.name}}<a>
			<div class="pull-right" style="margin-right:24px">
				<a href="#" class="mini-action" ui-sref="player({id:film._id})"><i class="fa fa-play"></i></a>
				<a href="#" class="mini-action" ng-click="rename(film)"><i class="fa fa-pencil"></i></a>
				<a href="#" class="mini-action" ng-click="delete(film)"><i class="fa fa-trash"></i></a>
			</div>
		</h3>
		<div class="film-scenes" ppg-carousel="film.scenes">
			<img ng-repeat="scene in film.scenes"
				ui-sref="film({id:film._id})"
				ng-src="{{scene.screenshot||'img/web/scene001.jpg'}}"/>
		</div>
	</li>
</ul>
