<!-- Top buttons -->
<div class="frame frame-top orange cover" ng-class="{transparent:record}">
	<div class="row">
		<form class="form-inline">
			<div class="form-group">
				<a class="action" ui-sref="films()"><i class="fa fa-home"></i></a>
				<a class="action danger" ng-show="scene" ng-click="toggleRecord()"><i class="fa" ng-class="{'fa-circle':!record,'fa-pause':record}"></i></a>
				<a class="action" ng-show="scene" ng-click="togglePlay()"><i class="fa" ng-class="{'fa-play':play<0,'fa-stop':play>=0}"></i></a>
			</div>
			<div class="form-group" ng-show="scene">
				<uib-progressbar style="width:300px" class="progress-bar-danger progress-big active" value="time" type="success"></uib-progressbar>
			</div>
			<div class="form-group" ng-show="scene">
				<a class="action" ng-click="backScene()"><i class="fa fa-reply"></i></a>
			</div>
			<div class="form-group" ng-show="!scene">
				<a class="action" ng-click="newScene()"><i class="fa fa-plus"></i></a>
			</div>
			<div class="form-group" ng-show="!scene" style="width:50%">
				<div ng-if="film.scenes.length && !scene" ppg-carousel="film.scenes">
					<img ng-repeat="scene in film.scenes track by scene._id"
					ng-src="{{scene.screenshot||'img/web/scene001.jpg'}}"
					alt="{{scene.name}}"
					style="margin-right:5px;height:34px"
					ng-click="selectScene(scene)"/>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Item selector -->
<uib-tabset active="active" class="frame frame-bottom pink">
	<uib-tab index="-1" heading="Places">
		<div style="padding:10px" ppg-carousel="allitems.backgrounds.items">
			<img ng-repeat="bg in allitems.backgrounds.items"
			class="item"
			ng-class="{disabled:record}"
			ng-src="{{bg.src}}"
			style="margin-right:5px"
			ng-click="setBackground(bg)"/>
		</div>
	</uib-tab>
	<uib-tab ng-repeat="section in allitems.sections" index="$index">
		<uib-tab-heading>{{section.id}}</uib-tab-heading>
		<div style="padding:10px" ppg-carousel="section.items">
			<img ng-repeat="item in section.items"
			class="item"
			ng-class="{disabled:addDisabled || record}"
			ng-src="{{item | imgsrc:'sm'}}"
			style="margin-right:5px"
			ng-click="addItem(item)"/>
		</div>
	</uib-tab>
</uib-tabset>

<!-- Scene -->
<div class="fill scene">
	<div class="element-container fill" ppg-play="play" style="background-image:url('{{scene.background.src}}')">
		<img ng-repeat="item in scene.items"
			class="element"
			ppg-draggable
			ppg-flip
			ppg-record="item.buffer"
			ppg-effects="item.effects"
			record="record" play="play"
			ng-src="{{item | imgsrc:'xl'}}" />
	</div>
</div>
