<!doctype html>
<html data-framework="angularjs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Powerpuff Girls Maker</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/angular-bootstrap/ui-bootstrap-csp.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/frames.css">
</head>
<body ng-app="ppgmaker" ng-controller="MainController">
	<!-- Top buttons -->
	<div class="frame frame-top orange cover">
		<div class="row">
			<div class="col-sm-3">
				<button class="btn btn-primary" ng-click="home()"><i class="fa fa-home"></i></button>
				<button class="btn btn-primary" ng-show="scene" ng-click="toggleRecord()"><i class="fa" ng-class="{'fa-circle':!record,'fa-pause':record}"></i></button>
				<button class="btn btn-primary" ng-show="scene" ng-click="togglePlay()"><i class="fa" ng-class="{'fa-play':play<0,'fa-stop':play>=0}"></i></button>
				<button class="btn btn-primary" ng-show="!scene" ng-click="newScene()"><i class="fa fa-plus"></i></button>
			</div>
			<div class="col-sm-8" ng-show="!scene">
				<a ng-repeat="scene in scenes" ng-click="selectScene(scene)">{{scene.name}}</a>
			</div>
			<div class="col-sm-8" ng-show="scene">
				<uib-progressbar class="progress-striped active" value="time" type="success"></uib-progressbar>
			</div>
			<div class="col-sm-1" ng-show="scene">
				<button class="btn btn-primary" ng-click="backScene()"><i class="fa fa-reply"></i></button>
			</div>
		</div>
	</div>

	<!-- Item selector -->
	<uib-tabset active="active" class="frame frame-bottom pink">
		<uib-tab ng-repeat="section in allitems.sections" index="$index">
			<uib-tab-heading>{{section.id}}</uib-tab-heading>
			<div style="padding:10px">
				<img ng-repeat="item in section.items"
					class="item"
					ng-class="{disabled:addDisabled}"
					ng-src="{{item.src}}"
					style="margin-right:5px"
					ng-click="addItem(item)"/>
			</div>
		</uib-tab>
  </uib-tabset>

	<!-- Scene -->
	<div class="fill">
		<div class="element-container fill" ppg-play="play" style="background-image:url('{{scene.background.src}}')">
			<img ng-repeat="item in scene.items"
				class="element"
				ppg-draggable
				ppg-record="item.buffer"
				ppg-effects="item.effects"
				record="record" play="play"
				ng-src="{{item.src}}" />
		</div>
	</div>

	<!-- Core scripts -->
	<script src="/lib/TouchEmulator/touch-emulator.js"></script>
	<script>TouchEmulator();</script>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/hammerjs/hammer.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="lib/pouchdb/dist/pouchdb.min.js"></script>
	<script src="lib/pouchdb/dist/pouchdb.find.min.js"></script>

	<!-- Application scripts -->
	<script src="/js/app.js"></script>
	<script src="/js/directives/ppg-draggable.js"></script>
	<script src="/js/directives/ppg-effects.js"></script>
	<script src="/js/directives/ppg-record.js"></script>
	<script src="/js/directives/ppg-play.js"></script>
	<script src="/js/services/itemsService.js"></script>
	<script src="/js/services/styleService.js"></script>
	<script src="/js/services/sceneService.js"></script>

	<script>
		// Disable scrolling.
		document.body.ontouchmove = function (e) {
		  e.preventDefault();
		}
	</script>
</body>
</html>
