<!doctype html>
<html data-framework="angularjs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Powerpuff Girls Maker</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/css/frames.css">
</head>
<body ng-app="ppgmaker" ng-controller="MainController">
	<div class="frame-bottom orange cover" style="position:absolute;z-index:1000;width:90%;left:5%;">
		<button class="btn btn-primary" ng-click="toggleRecord()"><i class="fa" ng-class="{'fa-circle':!record,'fa-pause':record}"></i></button>
		<button class="btn btn-primary" ng-click="togglePlay()"><i class="fa" ng-class="{'fa-play':play<0,'fa-stop':play>=0}"></i></button>
	</div>
	<div class="fill">
		<div class="element-container fill" ppg-play="play" style="background-image:url('{{background.src}}')">
			<div ng-repeat="item in items" class="element" ppg-draggable ppg-record="item.buffer" ppg-effects="item.effects" record="record" style="background-image:url('{{item.src}}')">
			</div>
		</div>
	</div>

	<!-- Core scripts -->
	<script src="/jquery/dist/jquery.min.js"></script>
	<!--script src="/jquery-ui/jquery-ui.min.js"></script>
	<script src="/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script-->
	<script src="/hammerjs/hammer.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/angular/angular.min.js"></script>
	<script src="/tween.js/src/Tween.js"></script>

	<!-- Application scripts -->
	<script src="/js/app.js"></script>
	<script src="/js/directives/ppg-draggable-hammer.js"></script>
	<script src="/js/directives/ppg-record.js"></script>
	<script src="/js/directives/ppg-play.js"></script>
	<script src="/js/services/itemsService.js"></script>
</body>
</html>
